.article__container {
	margin-top: 25rem; 
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.services-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	width: 85%;
	gap: 4rem;
}
.services {
	background: #1a1a1a;
	height: 14rem;
	display: flex;
	/* grid-template-columns: 1fr 2fr; */
	gap: 2rem;
	/* place-items: center; */
	align-items: center;
	justify-content: center;
	padding: 0 3rem;
	border-radius: 10px;
}

.article__left {
	background: #00c868;
	width: 8rem;
	height: 7rem;
	display: flex;
	align-items: center;
	place-items: center;
	justify-content: center;
	border-radius: 50%;
  color: #fff;
}
.article__left.call-icon {
	background: #ed474a;
}
.article__left.sheet-icon {
	background: #0496ff;
	color: #fff;
}
.article__right .blue-text {
	color: #0496ff;
}
.article__right .red-text {
	color: #ed474a;
}
.article__right {
  width: 100%;
	color: white;
	line-height: 1.8;
}

.article__right h3 {
	font-size: 2.4rem;
	color: #00c868;
}
.article__right p {
	line-height: 1.5;
	font-size: 1.8rem;
}

.user,.docs, .clip {
	color: white;
	width: 3rem;
	font-size: 3rem;
}
 .docs {
	color: white !important;
	margin-left: 0.4rem;
}

@media screen and (max-width: 540px) {
	.article__container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: center;
		align-items: center;
		margin-top: 8rem;
	}
  .services{
    width: 95%;
  }
	.services-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	gap: 2rem;
}
}


@media screen and (max-width: 840px) {
	.article__container {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		justify-content: center;
		align-items: center;
		margin-top: 5rem;
	}
}
