.img__header {
	width: 100%;
	padding: 1rem 0;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 2rem;
}
.first__img {
	position: relative;
	align-items: center;
}

.first__img img {
	width: 100%;
}


@media screen and (max-width: 540px) {
	.img__header {
		margin-top: 3rem;
	}
	.first__img img {
		width: 500px;
		height: auto;
	}
}
