.img__header {
	width: 100%;
	margin: 0 auto;
	align-items: center;
}
.first__img {
	position: relative;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2.5rem;
	margin-left: 160px;
	margin-right: 140px;
	align-items: center;
}

.first__img img {
	width: 350px;
}

.second__img {
	position: absolute;
	margin-left: 195px;
	margin-top: -30px;
}

@media screen and (max-width: 1024px) {
	.img__header {
		align-items: center;
	}
	.first__img {
		margin-left: 50px;
		margin-right: 140px;
	}
}

@media screen and (max-width: 540px) {
	.img__header {
		align-items: center;
		margin-top: 5rem;
	}
	.first__img {
		margin-left: -1rem;
		gap: 0.6rem;
	}

	.second__img {
		margin-left: 6.6rem;
	}
	.first__img img {
		width: 200px;
	}
}
