.main__head{
  width: 100vw;
  height: 85vh !important;
  display: grid;
  place-items: center;
  margin-top: 5rem;
}

.head-writeup1{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: -5rem;
  width: 50%;

}
.head-writeup1 h3{
  
  font-size: 50px;
  font-weight: bold;
  
  
}



.head-writeup1 span{
  color:rgb(4,150,255);
}


.head-writeup2 p{
  font-weight: light;
  line-height: 25px;
  text-align: center;
  margin-top: 5rem;
  /* font-size: 20px; */
  
}

.head-writeup2{
  margin-top: -23rem;
}

.input__form{
  /* margin-top: -10rem; */
  margin-top: -20rem;
  position: relative;

}

.input__field{
  padding: 10px 10px;
  border-radius: 5px;
  width: 29rem;
  box-sizing:border-box;
  border: none;
  background: #fff;
  text-align: start;
  text-indent: 2rem;
}

.icon1{
  position: absolute;
  margin-left: 1rem;
  margin-top: 0.5rem;
  color: #0496FF;;
}

.sub-button{
  padding: 10px 10px;
  border-radius: 5px;
  width: 8rem;
  background:#0496FF;
  border: none;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1024px){
  .head-writeup2 p{
    /* margin-top: 4rem; */
    margin-top: 6rem;
  }

  .head-writeup1{
    /* border: 2px solid black; */
    width: var(--container-width-md);
    margin-top: -5rem;
    font-size: 50px;
  }
}

@media screen and (max-width: 400px){

  .head-writeup1{
    margin-top: -5rem;
    width: var(--container-width-sm);
    font-size: 2px;
  }

  .head-writeup1 h3{
    font-size: 30px;
    
  }
  .head-writeup2 p{
    /* margin-top: 4rem; */
    margin-top: 8rem;
    font-size: 12px;
  }

  .input__field{
  width: 15rem;


  }
.input__form{
  margin-top: -23rem;

}
  
}

