.main__header {
	width: 100%;
	display: grid;
	place-items: center;
	margin-top: 10rem;
}

.header-writeup1 {
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 50%;
}
.header-writeup1 h3 {
	font-size: 50px;
	font-weight: bold;
}

.header-writeup1 span {
	color: rgb(4, 150, 255);
}

.header-writeup2 p {
	font-weight: light;
	line-height: 1.5;
	width: 100%;
	height: 100%;
}

@media screen and (max-width: 540px) {
	.main__header {
		margin-top: 10rem;
		gap: 1rem;
	}
	.header-writeup1 {
		width: var(--container-width-sm);
	}

	.header-writeup1 h3 {
		font-size: 30px;
	}
	.header-writeup2 p {
		font-size: 12px;
		text-align: center;
		line-break: none !important;
		width: 100%;
	}
}
