nav {
	height: 5rem;
	display: grid;
	z-index: 99;
	padding: 2rem;
}

/* only show on medium and small devices */
.nav__toggle-btn {
	display: none;
}
.nav__container {
	display: flex;
	height: 100%;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.nav__links {
	display: flex;
	gap: 3.5rem;
	align-items: center;
}

.nav__links a {
	transition: all 500ms ease;
	color: #2d3134;
}
.nav__links a:hover {
	color: rgb(4, 150, 255);
}

.active-nav {
	position: relative;
}
.show__nav {
	background: red;
}
.active-nav::after {
	content: '';
	display: block;
	width: 2rem;
	height: 0.2rem;
	background: rgb(4, 150, 255);
	position: absolute;
	background: brown;
}

/* Media  Queries (for medium and small screen*/
@media screen and (max-width: 540px) {
	nav {
		width: 100%;
		padding: 20px;
		height: 96px;
	}
	.nav__toggle-btn {
		display: inline-block;
		background: transparent;
		font-size: 1.8rem;
		cursor: pointer;
	}
	.nav__links {
		position: absolute;
		top: 100%;
		left: 0;
		background-color: red;
		width: 100%;
		flex-direction: column;
		gap: 0;
		align-items: center;
		justify-content: center;
	}

	.active-nav,
	.active-nav::after {
		display: none;
	}

	.nav__links li {
		height: 3rem;
		width: 100%;
		box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.1);
		background-color: green;
	}

	.nav__links li a {
		background: rgb(4, 150, 255);
		height: 100%;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 1rem 5rem 1rem 3rem;
		color: white;
	}

	.nav__links a:hover {
		color: #2d3134;
	}

	.show__nav {
		display: flex;
	}

	.hide__nav {
		display: none;
	}
}
