nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2.5rem 5rem;
}
.logo {
	width: 14rem;
	height: 5rem;
}
.logo img {
	width: 100%;
}
nav .navLinks {
	display: flex;
	gap: 4.5rem;
	list-style: none;
}
.links {
	font-size: 2rem;
	background: transparent;
	padding: 2rem;
	cursor: pointer;
}
.openMenu {
	font-size: 2rem;
	cursor: pointer;
	display: none;
}
.closeMenu {
	font-size: 2.5rem;
	cursor: pointer;
	display: none;
}
.hide {
	transform: translateY(-100%);
}
nav.scrolled {
	position: sticky;
	top: 0;
	z-index: 20;
	background-color: #fff;
	opacity: 1;
	box-shadow: 2px 4px 3px #888;
}

@media screen and (max-width: 840px) {
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.8rem 3rem;
	}
	nav.scrolled {
		position: sticky;
		top: 0;
		z-index: 20;
		background-color: #fff;
		opacity: 1;
		box-shadow: 2px 4px 3px #888;
	}
	.logo {
		width: 3rem;
		height: 3rem;
	}
	nav .navLinks {
		height: fit-content;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
		flex-direction: column;
		align-items: center;
		padding: 3rem 0;
		color: rgb(4, 150, 255);
		display: none;
		background: #fff;
		box-shadow: 2px 3px 3px #888;
		transition: all 1s ease;
	}
	.links {
		color: rgb(4, 150, 255);
	}
	.openMenu {
		display: block;
	}
	.closeMenu {
		display: block;
		position: absolute;
		top: 18px;
		right: 60px;
		color: rgb(4, 150, 255);
	}
}

@media screen and (max-width: 540px) {
	nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1.5rem 1rem;
	}
	nav.scrolled {
		position: sticky;
		top: 0;
		z-index: 20;
		background-color: #fff;
		opacity: 1;

		box-shadow: 2px 0px 3px #888;
	}
	.logo {
		width: 3rem;
		height: 3rem;
	}
	nav .navLinks {
		height: 40%;
		position: fixed;
		top: 0;
		transform: translateX(-1000%);
		z-index: 10;
		flex-direction: column;
		align-items: center;
		padding: 3rem 0;
		color: rgb(4, 150, 255);
		display: none;
		background: #fff;
		box-shadow: 2px 3px 3px #888;
		transition: all 1s ease;
	}
	.links {
		color: rgb(4, 150, 255);
	}
	.openMenu {
		display: block;
	}
	.closeMenu {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		color: rgb(4, 150, 255);
	}
}
